<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">

</head>
<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="../" class="navbar-brand">슈페이스_공지사항</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../blog/">홈</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../blog/">커뮤니티</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../blog/">공지사항</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about_me">홍보게시판</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../blog/">정보게시판</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container">

<div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">공지사항</h1>

          {% for p in object_list %}
        <div class="card mb-4">
            {% if p.head_image %}
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="https://picsum.photos/750/300/?random" alt="Card image cap">
            {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{p.title}}</h2>
            <p class="card-text">{{ p.content }} </p>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ p.created }} by
            <a href="#">{{ p.author }}</a>
          </div>
        </div>
          {% endfor %}






      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->
        </div>

<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>

</body>
</html>